<div class="row">
  <div class="col-auto">
    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
      <app-sub-icon [type]="subscription.type"></app-sub-icon>
    </div>
  </div>
  <div class="col">
    <h5 class="card-title text-uppercase text-muted mb-0">
      {{ subscription.name }}
    </h5>
    <span class="h2 font-weight-bold mb-0"></span>
  </div>
</div>
<div style="margin-top: 20px;" class="row" *ngIf="subscription.usage && subscription.usage.length">

  <div class="col-md-{{getUsageChartSize()}}" *ngFor="let item of subscription.usage">
    <app-usage-chart [usage]="item"></app-usage-chart>
    <h5 class="text-center mt-2 text-muted">{{item.type}}</h5>
  </div>
</div>
