<div>
  <div class="card mb-4 mb-lg-0">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <span class="h2 font-weight-bold mb-0">You haven't purchased anything yet, feel free to order!</span>
        </div>
        <div class="col-auto">
          <div
            class="icon icon-shape bg-danger text-white rounded-circle shadow"
          >
            <i class="fas fa-chart-bar"></i>
          </div>
        </div>
      </div>
      <p class="mt-3 mb-0 text-muted text-sm">
        <button (click)="order()" class="btn btn-primary">Order Now</button>
      </p>
    </div>
  </div>
</div>
